@font-face {
    font-family: "Helvetica";
    src: url(../fonts/9202.otf) format("opentype");
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Bold";
    src: url(../fonts/9206.otf) format("opentype");
    font-style: bold;
}

body {
    font-family: "Helvetica", "Helvetica Bold", "Arial";
}

/*Header*/

.navbar-brand {
    padding-top: 0px;
}

.navbar-nav {
    text-align: right;
}

.head-img {
    vertical-align: top;
}

.head-row {
    width: 1230px;
    height: 372px;
    margin-left: -45px;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat, repeat;
}

.header-text-container {
    height: 130px;
    margin-top: 67px;
}

.header-logo {
    height: 100%;
    width: 130px;
    float: left;
}

.header-logo :hover {
    cursor: pointer;
}

.header-contacts {
    height: 100%;
    width: 400px;
    float: left;
    color: white;
    padding-top: 41px;
    line-height: 1.8em;
    font-size: 1.1em;
}

.header-contacts > ul {
    list-style: none;
    padding-left: 20px;
}

.header-contacts > ul > li > a {
    text-decoration: none;
    color: white;
}

.header-description {
    height: 100%;
    float: right;
    color: #fdc206;
    font-size: 32px;
    padding-top: 33px;
    padding-right: 30px;
    text-shadow: 2px 2px 0 #17254c,
    -2px -2px 0 #17254c,
    2px -2px 0 #17254c,
    -2px  2px 0 #17254c,
    2px  2px 0 #17254c;;
}
.header-menu-container {
    font-size: 20px;
    padding-top: 84px;
    padding-right: 146px;
    text-align: right;
    font-weight: bold;
    font-family: "Helvetica Bold";
}

.header-menu-container > ul {
    list-style: none;
}

.header-menu-container > ul > li {
    display: inline;
    padding-left: 30px;
}

.header-menu-container > ul > li > a {
    text-decoration: none;
    color: #a20200;
}
.header-menu-container > ul > li > a:hover{
    text-decoration: none;
    color: black;
}

.header-menu-container > ul > li > a:active{
    text-decoration: none;
    color: black;
}

.nav-row > div {
    font-family: "Helvetica Bold";
    font-size: 20px;
    text-align: center;
    padding-top: 44px;
}

.nav-red > a {
    color: #9A0000;
    text-decoration: none;
}

.nav-red > a:hover {
    text-shadow: 0px 0px 3px #c53838;
}

.nav-black > a {
    color: #000000;
    text-decoration: none;
}

.nav-black > a:hover {
    text-shadow: 0px 0px 3px #3e2424;
}
/*..Header*/

/*Carousel*/

.carousel-row {
    margin-top: 20px;
}

h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "Helvetica", Arial;
}
.item{
    background: #333;
    text-align: center;
    height: 400px !important;
}
.carousel{
    
}

.right-switch {
    height: 400px;
    background-color: grey;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.right-switch > a > img {
    margin-top: 180px;
    margin-left: -72px;
}

.left-switch {
    height: 400px;
    background-color: grey;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.left-switch > a > img {
    margin-top: 180px;
    margin-left: 20px;
}

.carousel-control.left {
    background-image: none !important;
}

.carousel-control.right {
    background-image: none !important;
}

.badge-links {
    margin-top: 30px;
}

/*..Carousel*/

/*Badges-Links*/

.badge-header {
    background-color: #9A0000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    max-width: 262.5px;
}

.left-ear {
    padding-top: 18px;
    float: left;
    width: 40px
}

.deco-line-left {
    height: 7px;
    background-color: white;
    width: 30px;
}

.deco-line-right {
    height: 7px;
    background-color: white;
    width: 30px;
    float: right;
}

.badge-title {
    float: left;
    width: 182px;
    text-align: center;
    font-family: "Helvetica Bold";
    color: white;
    font-size: 24px;
    padding-top: 5px;
}

.badge-title > a {
    text-decoration: none;
    color: white;
}

.right-ear {
    padding-top: 18px;
    float: right;
    width: 40px
}

.badge-img {
    margin-top: 5px;
}

.badge-links > div {
    margin-bottom: 10px;
}
/*..Badges-Links*/

/*Footer*/

.row-footer {
    height: 70px;
    margin-top: 50px;
}

.red-plate {
    margin-top: 36px;
    height: 34px;
    background-color: #9A0000;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: -70px;
    padding-top: 14px;
}

.white-line {
    height: 7px;
    background-color: white;
    width: 100%;
}

.logo-footer {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.copyright-footer {
    text-align: right;
}

/*..Footer*/

/*Content*/

.content-row {
    margin-top: 20px;
}

.article-header {
    background-color: #9A0000;
    min-height: 40px;
    padding-left: 0px;
}

.article-header > .left-ear {
    width: 100px;
}

.article-header > .left-ear > .deco-line-left {
    width: 100px;
}

.article-title {
    font-family: "Helvetica Bold";
    color: white;
    font-size: 24px;
    padding-left: 110px;
}

.article-badge {
    padding-left: 0px;
}

.article-content {
    margin-top: 5px;
    background-color: #E6E7E8;
    padding: 10px;
    font-size: 20px;
}

/*..Content*/

